@page "/"

<PageTitle>Index</PageTitle>

<p>Serving Size</p>
<input type="text" @bind="ServingSize" @bind:event="oninput" />
<br />
<br />

<p>Serving Calories</p>
<input type="text" @bind="ServingCalories" @bind:event="oninput" />
<br />
<br />

<p>My Serving Size</p>
<input type="text" @bind="MyServingSize" @bind:event="oninput" />
<br />
<br />


<p>Total Calories</p>
<label id="label">@(((Convert.ToDouble(ServingCalories == string.Empty ? 0 : ServingCalories) / Convert.ToDouble(ServingSize == string.Empty ? 0 : ServingSize)) *  Convert.ToDouble(MyServingSize == string.Empty ? 0 : MyServingSize)).ToString("F"))</label>
<br />
<br />

<button class="btn btn-primary" @onclick="Clear">Clear</button>


@code {
    string ServingCalories = "";
    string ServingSize = "";
    string MyServingSize = "";

    private void Clear()
    {
        ServingCalories  = string.Empty;
        ServingSize = string.Empty;
        MyServingSize = string.Empty;

    }
}